.footer_container {
  background-color: black;
  color: white;
  margin-top: auto;
  padding: 0px 0px;
}

.footer {
  margin: 0px calc((100vw - min(90%, 1000px)) / 2);
  font-size: 18px;
  display: flex;
}

.footer_icon {
  font-size: 22px;
}

.footer_text {
  display: grid;
  align-items: center;
}

.footer_list {
  margin-right: auto;
}

.footer_list > li {
  display: inline;
  margin-right: 1rem;
  height: 2rem;
  width: 1rem;
}