.card {
  margin: 100px calc((100vw - min(90%, 1000px)) / 2);
  padding: 4rem 10rem 2rem 10rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 15px black;
  backdrop-filter: blur(1rem);
  border-radius: 10px;
}

.nearcoin {
  display: flex;
  justify-content: center;
}

.card_text {
  margin-top: 3rem;
  text-align: justify;
  font-size: 20px;
  user-select: initial;
}

.card_img_container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.card_img {
  width: 200px;
  height: 100px;
  cursor: pointer;
  position: relative;
}